# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/ecommerce_db?schema=public"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="di6imgcup"
CLOUDINARY_API_KEY="789913786143893"
CLOUDINARY_API_SECRET="md7Fovy7DAp-U75y6IXTSfBLT3c"

# JWT Secret
JWT_SECRET="your_jwt_secret_key"

# Server Configuration
PORT=3000
NODE_ENV=development 


AdMIN_TOKEN =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiZW1haWwiOiJhZG1pbkBlY29tbWVyY2UuY29tIiwiaWF0IjoxNzUwNzQyNDA5fQ.BNBuO2oI7oDArpBKsWusHZnRbuwyyfyk__e4Xw2wXtg
USER_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJqYW5lLnNtaXRoQGV4YW1wbGUuY29tIiwiaWF0IjoxNzUwNjg1MzU1fQ.2G3X-akQhLRpEo0kXqpJJKzGSxGaANKi8ntbA6ZG0qw